@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500");

.error-404 {
    width: 100%;
    min-height: 100vh;
    font-weight: 300;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    background: url(http://salehriaz.com/404Page/img/bg_purple.png);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: left top;
    height: 100%;
    overflow: hidden;

    .space {
        background: url(http://salehriaz.com/404Page/img/overlay_stars.svg);
        background-repeat: repeat;
        background-size: contain;
        background-position: left top;

        &__central-body {
            padding: 17% 5% 10% 5%;
            text-align: center;

            .image-404 {
                position: relative;
                z-index: 100;
                pointer-events: none;
                width: 250px;
            }

            .btn-go-home {
                position: relative;
                z-index: 200;
                margin: 15px auto;
                width: 100px;
                padding: 10px 15px;
                border: 1px solid #ffcb39;
                border-radius: 100px;
                font-weight: 400;
                display: block;
                color: white;
                text-align: center;
                text-decoration: none;
                letter-spacing: 2px;
                font-size: 11px;
            
                -webkit-transition: all 0.3s ease-in;
                -moz-transition: all 0.3s ease-in;
                -ms-transition: all 0.3s ease-in;
                -o-transition: all 0.3s ease-in;
                transition: all 0.3s ease-in;


                &:hover {
                    background-color: #ffcb39;
                    color: #fff;
                    transform: scale(1.05);
                    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
                }
            }
            
        }

        &__objects {
            img {
                z-index: 90;
                pointer-events: none;
            }

            &--rocket {
                z-index: 95;
                position: absolute;
                transform: translateX(-50px);
                top: 75%;
                pointer-events: none;
                animation: rocket-movement 200s linear infinite both running;
            }

            &--earth {
                position: absolute;
                top: 20%;
                left: 15%;
                z-index: 90;
            }

            &--moon {
                position: absolute;
                top: 12%;
                left: 25%;
            }

            &--box-astronaut {
                z-index: 110 !important;
                position: absolute;
                top: 60%;
                right: 20%;
                will-change: transform;
                animation: move-astronaut 50s infinite linear both alternate;
            }

            &--astranaut {
                animation: rotate-astronaut 200s infinite linear both alternate;
            }
        }

        &__glowing-stars {
            &--star {
                position: absolute;
                border-radius: 100%;
                background-color: #fff;
                width: 3px;
                height: 3px;
                opacity: 0.3;
                will-change: opacity;
            }

            &:nth-child(1) {
                top: 80%;
                left: 25%;
                animation: glow-star 2s infinite ease-in-out alternate 1s;
            }

            &:nth-child(2) {
                top: 20%;
                left: 40%;
                animation: glow-star 2s infinite ease-in-out alternate 3s;
            }

            &:nth-child(3) {
                top: 25%;
                left: 25%;
                animation: glow-star 2s infinite ease-in-out alternate 5s;
            }

            &:nth-child(4) {
                top: 75%;
                left: 80%;
                animation: glow-star 2s infinite ease-in-out alternate 7s;
            }

            &:nth-child(5) {
                top: 90%;
                left: 50%;
                animation: glow-star 2s infinite ease-in-out alternate 9s;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .space__objects--box-astronaut {
        top: 70%;
    }

    .space__central-body {
        padding-top: 25%;
    }

    .space__central-body .image-404 {
        width: 180px;
    }
}