.user-profile {
    min-height: 100vh;
    width: 60%;
    margin: 0 auto;
    &__upper {
        min-height: 15rem;
        background-color: #0c5153;
        padding-top: 1.5rem;
        padding-left: 3rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        h1 {
            color: white !important;
        }
        &--profile-image {
            height: 8.5rem;
            width: 8.5rem;
            border-radius: 100%;
            background-color: rgba(112, 128, 144, 0.264);
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-primary-dark;
            font-weight: 500;
            font-size: 20px;
            border: 1px solid slategray;
            position: relative;
            input {
                position: absolute;
                visibility: hidden;
            }
        }
        &--profile-image:hover {
            cursor: pointer;
        }
    }
    &__middle {
        width: 100%;
        &--button {
            border: none;
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: 500;
            border-right: 1px solid $color-primary-dark;
            background-color: transparent;
        }
        &--button:last-child {
            border-right: none;
        }
        &--active {
            border: none;
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: 500;
            color: $color-primary-light;
            border-right: 1px solid $color-primary-light;
            background-color: transparent;
        }
        &--activelast {
            border: none;
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: 500;
            color: $color-primary-light;
            background-color: transparent;
        }
    }
    &__lower {
        width: 100%;
        margin: 2rem auto;
        border: 1px solid slategray;
        &--options {
            display: flex;
            justify-content: center;
            border-bottom: 1px solid slategray;
            h1 {
                font-size: 18px;
                font-weight: 500;
            }
            button {
                padding: 0.4rem 2rem;
                font-size: 11px;
                font-weight: 500;
                border: none;
                background-color: $color-primary;
                border: 1px solid slategray;
            }
        }
        &--edit-button {
            display: flex;
            justify-content: end;
            button {
                display: inline-block;
                border: none;
                padding: 1rem;
                border-left: 1px solid slategray;
                border-bottom: 1px solid slategray;
                font-size: 14px;
                font-weight: 500;
            }
        }
        &--details {
            padding-bottom: 4rem;
        }
        &--inputGroup {
            display: flex;
            flex-direction: column;
            width: 55%;
            margin: 0 auto;
            margin-top: 2rem;
            label {
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 0.3rem;
            }
            input {
                padding: 1rem;
                border: 1px solid slategray;
                font-size: 14px;
                font-weight: 500;
            }
            input:focus {
                outline-width: 0;
                border: 1px solid slategray;
            }
        }
        &--button {
            text-align: center;
            margin-top: 4rem;
            button {
                padding: 1rem 2.5rem;
                border: 1px solid slategray;
                font-size: 14px;
                font-weight: 500;
            }
            button:disabled {
                border: 1px solid rgba(0, 0, 0, 0.499);
                color: slategray;
            }
        }
    }
    &__favourites {
        width: 100%;
        margin: 2rem auto;
        border: 1px solid slategray;
        min-height: 50vh;
        &--details {
            padding-bottom: 4rem;
        }
        &--heading {
            display: flex;
            justify-content: center;
            border-bottom: 1px solid slategray;
            h1 {
                font-size: 18px;
                font-weight: 500;
            }
        }
        &--places {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            padding: 1rem;
            &--card {
                min-height: 20rem;
                border: 1px solid red;
                margin-top: 2rem;
            }
        }
    }
}
