@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap");
.home-page {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    &__hero {
        height: 96vh;
        width: 100vw;
        background-image: url("../../images/LandingBackground.jpg");
        background-position: left;
        background-size: cover;
        filter: grayscale(40%);
        display: flex;
        justify-content: center;
        &--content {
            margin-top: 11%;
            height: fit-content;
            padding: 3rem;
            background-image: linear-gradient(
                to bottom right,
                rgba(0, 143, 107, 0.9),
                rgba(0, 143, 107, 0.4)
            );
            background: rgba(255, 255, 255, 0.397);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(11.2px);
            -webkit-backdrop-filter: blur(11.2px);
            border: 1px solid rgb(255, 255, 255);
        }
        &--heading {
            font-family: "Montserrat", sans-serif;
            font-size: 60px;
            font-weight: 500;
            text-align: center;
            color: #194445f1;
            text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #c3bebe,
                -1px 1px 0 #948e8e, 1px 1px 0 #a9a7a7;
        }
        &--button {
            text-align: center;
            margin-top: 3.5rem;
            &--link {
                text-decoration: none;
                background-color: #0c5153;
                font-size: 24px;
                font-weight: 500;
                padding: 1rem 2rem;
                color: white;
                border-radius: 7px;
            }
            &--link:hover {
                background-color: transparent;
                color: #0c5153;
                border: 1px solid white;
                font-weight: 600;
            }
        }
    }
}
