.page-loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;


    &__car {
        &--body {
            animation: shake 0.2s ease-in-out infinite alternate;
        }
    
        &--line {
            transform-origin: center right;
            stroke-dasharray: 22;
            animation: line 0.8s ease-in-out infinite;
            animation-fill-mode: both;
    
            &-top {
                animation-delay: 0s;
            }
    
            &-middle {
                animation-delay: 0.2s;
            }
    
            &-bottom {
                animation-delay: 0.4s;
            }
        }
    }
}
