@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap");
.placesidebar {
    position: absolute;
    z-index: 1001;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40vw;
    overflow-y: scroll;
    background-color: white;
    display: flex;
    &__name_rating {
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        h1 {
            color: #0c5153;
        }
    }
    &__weather {
        padding: 1rem 0rem;
        font-family: "Montserrat", sans-serif;
        border: 1px solid slategray;
        width: 95%;
        margin: 3rem auto;
        h1 {
            border-bottom: 1px solid slategray;
            text-align: center;
            color: #0c5153;
        }
        &--data {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.5rem;
            gap: 1rem;
            span {
                font-size: 1.6rem;
                color: #0c5153;
                font-weight: 400;
            }
        }
    }
    &__temperatures {
        p {
            display: flex;
            text-align: center;
            justify-content: space-evenly;
            span {
                color: #0c5153;
            }
        }
    }
    &__rate-experience {
        border: 1px solid grey;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        width: 95%;
        margin: 0 auto;
        span {
            font-size: 20px;
            font-family: "Montserrat", sans-serif;
        }
    }
    &__reviews {
        width: 95%;
        margin: 2rem auto;
        &--write {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        p {
            font-size: 20px;
            font-family: "Montserrat", sans-serif;
            padding: 2rem;
            border: 1px solid gray;
            border-bottom: none;
        }
        textarea {
            width: 100%;
            padding: 2rem;
        }
        &--button {
            button {
                margin-top: 1rem;
                width: 100%;
                padding: 1.5rem;
            }
        }
    }
    &__othersReviews {
        &--reviewCard {
            width: 95%;
            margin: 0 auto;
            padding: 2rem;
            margin-bottom: 1rem;
            border: 1px solid slategray;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            p {
                font-size: 14px;
                font-family: "Montserrat", sans-serif;
            }
        }
    }
}
