.update-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__label {
        cursor: pointer;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &__image {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 2px solid gray;
    }

    &__image-icon {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 2px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
