@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap");
.header {
    padding: 2rem 4rem !important;
    &__toggler {
        border: none !important;
    }
    &__toggler:focus,
    &__toggler:active {
        outline: 10px solid #f8f9fa !important;
    }
    &__brand {
        font-size: 20px !important;
        font-weight: 500 !important;
        color: #0c5153 !important;  
        font-family: 'Roboto', sans-serif !important;
    }
    &__navLink {
        font-size: 16px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        font-weight: 500 !important;
        font-family: 'Roboto', sans-serif !important;
    }
    &__dropdown {
        text-align: center !important;
        background-color: #f8f9fa !important;
        border: none !important;
        align-self: center !important;
        padding: 1.3rem 1.3rem !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        aspect-ratio: 3/2 !important;
        border-radius: 100% !important;
        border: 1px solid rgba(75, 86, 97, 0.721) !important;
    }
    &__dropdown::after {
        content: none !important;
    }
}